language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then travis_retry pip install unittest2; fi

script:
  - travis_retry pip install https://github.com/laike9m/ezcf/archive/master.zip
  - travis_retry pip install coveralls
  - coverage run --source=ezcf setup.py test

after_success:
  coveralls

notifications:
  email:
    on_success: never
    on_failure: always